name: Renovate

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-24.04
    concurrency:
      group: renovate
      cancel-in-progress: true

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - uses: actions/checkout@v6

      - uses: renovatebot/github-action@v44.0.4
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_CONFIG_FILE: ".github/renovate.json"
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: "CCPBioSim/CodeEntropy"