name: Renovate

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-24.04
    concurrency:
      group: renovate
      cancel-in-progress: true

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_CONFIG_FILE: ".github/renovate.json"
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: "CCPBioSim/CodeEntropy"