name: Renovate

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - uses: actions/checkout@v5

      - uses: renovatebot/github-action@v40.1.4
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_CONFIG_FILE: ".github/renovate.json"
